<html>
	<body>
		<div class="panel panel-default">

			<!--Panel Kopf-->

			<div class="usi-list-entry-id" data-id="usi-list-entry-id">
				<div class="panel-heading">
					<h4 class="panel-title">
						<span data-id="icon_data_id"></span>
						Index: <span data-content="index"></span> <span class="usi-list-entry-is-spa hidden" style="color: red;">| SPA</span> | <span data-content="userscript-settings-name"></span> | <span data-content="userscript-settings-author"></span> | <span data-content="userscript-settings-version"></span>
						
						<i class="usi-list-entry-toggle-options fa fa-angle-double-down" title="expand or compress overview"></i>
					</h4>
				</div>

				<!--Panel Inhalt-->
				<!--<div ui-if="ListScriptAccordion == {{$index}}">-->
				<div class="panel-body not-visible fade-in-animation">
					<div class="row">
						<button class="btn btn-info col-xs-3 col-xs-push-8 usi-list-entry-export">export</button>
					</div>

					<label>usi-id: </label><span data-content="userscript-id"></span><br />
					<label>Name: </label><span data-content="userscript-settings-name"></span><br />
					<label>Author: </label><span data-content="userscript-settings-author"></span><br />
					<label>Version: </label><span data-content="userscript-settings-version"></span><br />
                    <label><span data-usi-lang="description"></span>: </label><span data-content="userscript-settings-description"></span><br />

					<hr />

					<!--Userscript aktivieren oder deaktivieren-->
					<label>Userscript:</label><br />
					<input type="checkbox" class="usi-list-entry-deactivated" data-toggle="toggle" />

					<hr />
                    
                    <div class="usi-list-entry-start-spa-div hidden row">
                        <button class="btn btn-info usi-list-entry-start-spa-button col-xs-push-2 col-xs-8" >START SPA</button>
                    </div>

					<!--Require Skripte-->
					<div class="usi-list-entry-required-scripts">
						<hr />
						<label>Require Scripts:</label><br />
						<ol class="usi-list-entry-required-scripts---output"></ol>
					</div>

					<div class="usi-list-entry-includes">
						<!--gültige Include Regeln-->
						<label>Includes: </label><br />
						<ol class="usi-list-entry-includes---output"></ol>
					</div>

					<hr />

					<div class="usi-list-entry-load-again---block" >
						<label class="" data-usi-lang="reload_from_source">
							<!--Neuladen von der Quelle-->
						</label><br />
						<button class="btn btn-info usi-list-entry-load-again" >
							<i class="fa fa-repeat"></i>
						</button>
                        <br />
					</div>
					<!--Greasemonkey Variablen-->
					<br />

                    <div class="usi-list-entry-gm-values">
                        <label data-usi-lang="GMValues">
                            <!--Zeige die gespeicherten GM Variablen-->
                        </label><br />
                        <button class="btn btn-info usi-list-entry-get-gm-values col-xs-3" data-usi-lang="show">
                        </button>
                        <button class="btn btn-danger hidden usi-list-entry-delete-gm-values col-xs-offset-1 col-xs-3" data-usi-lang="delete_x">
                        </button>
                        <br />
                        <br />
                        <div class="row">
                            <div class="usi-list-entry-get-gm-values---output col-xs-2">
                                <!--Ausgabe der GM Variablen-->
                            </div>
                        </div>
                        <hr />
                        <br />
                    </div>

					<!--Userscript Inhalt-->
					<label>Userscript:</label><br />

					<!--Userscript bearbeiten-->
					<div class="row">
                        <!--Userscript anzeigen/ausblenden-->
                        <span class="col-xs-3">
                            <input type="checkbox" data-toggle="toggle" class="usi-list-entry-view-userscript" />
                        </span>
						<button class="btn btn-info col-xs-3 col-xs-offset-1 usi-list-entry-edit" data-usi-lang="change"></button>
						<!--Userscript entfernen-->
						<button class="btn btn-danger col-xs-3 col-xs-offset-1 usi-list-entry-delete" data-usi-lang="delete_x"></button>
					</div>
					
					<br />

					<div class="usi-list-entry-view-userscript---output row">
						<br /><br />
						<label class="selectHighlightJSStyleLabel">HighlightJS Style:</label>
						<select class="selectHighlightJSStyle form-control"></select>
						<hr />
						<pre><code class="border-black" data-content-text="userscript-userscript"></code></pre>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
