<!--USI Konfiguration bearbeiten-->

<div ng-controller="ExtraOptionsForUSI">
	<div class="container" >
		<h3 data-usi-lang="delete_all_userscripts" >
			<!--Alle Userscripts entfernen-->
		</h3>
		
		<button class="btn btn-danger" ng-click="deleteAll()"
				data-usi-lang="revert_all" >
		</button>
		<!--alles zurücksetzen-->
	</div>
	<hr />
	<div class="container" >
		<h3 data-usi-lang="check_updates_for_all_userscripts" >
			<!--Alle Userscripts auf Updates überprüfen-->
		</h3>
		
		<button ng-click="checkForUpdates()" 
				class="btn btn-primary" data-usi-lang="check_now" >
		</button>
		<!--jetzt prüfen-->
	</div>
	<hr />
	<div class="container" >
		<h3 data-usi-lang="OldUsiIncludeBehavior_title" >
			<!--USI Include Verhalten-->
		</h3>
		<label>
			<span data-usi-lang="OldUsiIncludeBehavior_description">
<!--				Hier kannst du das alte Verhalten von USI für die Einbindung der Include regeln wieder aktivieren,
				ansonsten wird die Art und Weise wie GreaseMonkey Include Regeln behandelt verwendet.-->
			</span>
			<br />
			(<span ng-show="!OldUsiIncludeBehavior" data-usi-lang="OldUsiIncludeBehavior_GMMethod"></span><span ng-show="OldUsiIncludeBehavior" data-usi-lang="OldUsiIncludeBehavior_oldUsiMethod"></span>)
		</label>
		<input class="js-switch" type="checkbox" ng-model="OldUsiIncludeBehavior" ng-change="change_OldUsiIncludeBehavior()" />
	</div>
	<hr />
	<div class="container" >
		<h3 data-usi-lang="enableExternalScriptLoadQuestion_title" >
			<!--Importiere externe Skripte-->
		</h3>
		<label>
			<span data-usi-lang="enableExternalScriptLoadQuestion_description">
				<!--Möchtest du das USI dich fragt, ob ein Userscript importiert werden soll? (Beim Aufruf von UserScript Sourcen, deren URL auf `user.js` endet)-->
			</span>
			<br />
			(<span ng-show="!enableExternalScriptLoadQuestion" data-usi-lang="no"></span><span ng-show="enableExternalScriptLoadQuestion" data-usi-lang="yes"></span>)
		</label>
		<input class="js-switch" type="checkbox" ng-model="enableExternalScriptLoadQuestion" ng-change="change_enableExternalScriptLoadQuestion()"/>
	</div>
	<hr />
	<div class="container" >
		<h3 data-usi-lang="options_activate_highlightjs_title" >
			<!--HighlightJS aktiv-->
		</h3>
		<label>
			(<span ng-show="!options_activate_highlightjs" data-usi-lang="no"></span><span ng-show="options_activate_highlightjs" data-usi-lang="yes"></span>)
		</label>
		<input class="js-switch" type="checkbox" ng-model="options_activate_highlightjs" ng-change="change_options_activate_highlightjs()"/>
	</div>	
	<hr />
	<div class="container" >
		<h3 data-usi-lang="options_always_activate_greasemonkey_title" >
			<!--Greasemonkey immer aktivieren-->
		</h3>
		<label>
			(<span ng-show="!options_always_activate_greasemonkey" data-usi-lang="no"></span><span ng-show="options_always_activate_greasemonkey" data-usi-lang="yes"></span>)
		</label>
		<input class="js-switch" type="checkbox" ng-model="options_always_activate_greasemonkey" ng-change="change_options_always_activate_greasemonkey()"/>
	</div>	
	<hr />
	<div class="container" >
		<h3 data-usi-lang="export_all_userscripts" >
			<!--Alle Userscripts exportieren-->
		</h3>
		<label>
			<span data-usi-lang="complete_export">
				<!--Kompletter Export-->
			</span>
			(<span ng-show="!complete_export" data-usi-lang="no"></span><span ng-show="complete_export" data-usi-lang="yes"></span>)
		</label>
		<input class="js-switch" type="checkbox" ng-model="complete_export"/>
		<br />
		
		<button ng-click="exportAll()" 
				class="btn btn-primary" data-usi-lang="export_all_now" >
		</button>
		<!--jetzt exportieren-->
	</div>
</div>