<html>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" data-usi-lang="help_1_title" >
                <!--Überblick-->
            </h3>
        </div>
        <div class="panel-body" data-usi-lang="help_1_description" >
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" data-usi-lang="help_2_title" >
                <!--Überblick-->
            </h3>
        </div>
        <div class="panel-body" data-usi-lang="help_2_description" >
        </div>
    </div>
</html>