<html>
<!--Alle Userscripte auflisten-->

<div>
	<div class="container">
		<div data-content="currentMemoryUsage" id="usi-list-current-memory-usage"></div>
		<button class="col-xs-push-10 col-xs-2" id="usi-list-refresh"><i class="fa fa-refresh"></i></button>
	</div>
	<hr />
	<h3 id="usi-list-userscript-count-positive">Userscripts (<span id="usi-list-userscript-count" ></span>) :</h3>
	<h3 id="usi-list-userscript-count-negative"><span data-usi-lang="no_userscript_there"></span></h3>
	<div class="panel-group" ui-state="ListScriptAccordion" ui-default="0">		

		<div class="panel panel-default" id="usi-list-userscript-entries">
			
		</div>
	</div>
</div>

</html>