<html>
	<!--Userscript nachladen-->

	<div class="container" id="usi-load-external">
		<!--Falls Fehler auftreten sollten-->
		<div id="usi-load-external-has-error"></div>

		<br />
		<label data-usi-lang="load_userscript_by_url_label" >
			<!--Neues Userscript laden (URL):-->
		</label>
		<input class="form-control" type="text"
			   id="usi-load-external-script-url"
			   placeholder="http://webseite.de/userscript.user.js"
			   size="60" />
		<br /><br /><br />
		<div class="row">
			<div>
				<button class="btn btn-primary col-xs-push-1 col-xs-7" id="usi-load-external-execute-url-load" >
					<span data-usi-lang="userscript_after_load"  class="text-capitalize">
						<!--Userscript nachladen-->
					</span>
				</button>
			</div>
			<div>
				<button class="btn btn-default col-xs-push-2 col-xs-2" id="usi-load-external-reset">
					<span data-usi-lang="reset" class="text-capitalize">
						<!--reset-->
					</span>
				</button>
			</div>
		</div>
		<br /><br /><br />
		<label data-usi-lang="direct_userscript_upload">
			<!--			Userscript direkt hochladen-->
		</label>
		<i class="fa fa-upload" aria-hidden="true"></i>
		<input type="file" accept="text/*" id="direct-userscript-upload" />
		<br />
		<button class="btn btn-primary col-xs-push-1 col-xs-10 text-capitalize" id="usi-load-external-execute-local-load" data-usi-lang="start">
			<!--Start-->
		</button>
		<br /><br /><br />
		<label data-usi-lang="alternative_charset_description">
			<!--Wenn du Probleme mit der Kodierung der Dateien haben solltest, kannst du hier eine andere Kodierung festlegen-->
		</label>
		<br />
		<br />
		<div class="row">
			<label class="col-xs-3" data-usi-lang="alternative_charset">
				<!--Alternatives Charset-->
			</label>
			<button id="usi-load-external-add-custom-charset" class="btn btn-default col-xs-push-2 col-xs-2"><i class="fa fa-plus-circle"></i></button>
			
			<select class="col-xs-3 form-control" id="usi-load-external-alternativeCharsets" >
				<option value="" data-usi-lang="alternativeCharset_default" >
					<!--default-->
				</option>
				<option value="utf-8">utf-8</option>
				<option value="cp1252">cp1252</option>
			</select>
		</div>
	</div>
</html>