<html>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" data-usi-lang="overview" >
			<!--Überblick-->
		</h3>
	</div>
	<div class="panel-body" data-usi-lang="overview_description" >
<!--		Die Optionen sind nun unterteilt in mehrere Bereiche,
		falls du deine geladenen Userscripte einsehen möchtest gehe auf den Bereich "Alle Userscripts"-->
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" data-usi-lang="changelog" >
			<!--Changelog-->
		</h3>
	</div>
	<div class="panel-body">
		<ul>
			<li data-usi-lang="changelog_1" >
<!--				Die USI Version 0.3.2-a-alpha und aufwärts nutzen die Methoden aus Greasemonkey für die Verarbeitung der Include Regeln,
				falls es bei dir zu Problemen kommen sollte und deine Userscripte nicht mehr geladen werden, 
				kannst du in den Optionen das alte Verhalten wieder aktivieren.-->
			</li>
		</ul>
	</div>
</div>
	</html>