<!DOCTYPE html>
<html>
    <head><title>sync</title></head>
    <body>
        <div class="container-fluid" >
            <div class="container" >
                <h3 data-usi-lang="sync_config" >
                    <!--Sync Konfiguration-->
                </h3>

				<div id="sync-not-logged-in">
					
					<h3 data-usi-lang="sync_server_create_new_user">
					<!--Der Sync Server von USI wird automatisch eine User_id und einen Auth_Key für dich erstellen,
						nachdem das erledigt, musst du diese Einstellungen nur auf die anderen Geräte übertragen-->
					</h3>
					
					<label for="usi---sync-server-url" data-usi-lang="sync_server_url">
						<!--Server URL-->
					</label>
					<input type="url" name="sync-server-url" id="usi---sync-server-url" size="100" />
					
					<br />

					<button id="usi---sync-server---create-new-account" name="usi---sync-server---create-new-account" data-usi-lang="sync_server___create_new_account">
						<!--Erzeugt einen Account auf dem Server, dieser liefert dir im Erfolgsfall einen neuen Benutzer Namen inklusive Passwort-->
					</button>

				</div>
				
				<div id="sync-logged-in">
					
					<button id="usi---sync-server---check-for-updates" name="usi---sync-server---check-for-updates" data-usi-lang="sync_server___check_for_updates">
						<!--Prüft Manuell ob es irgendwelche Updates für die Userscripte gibt-->
					</button>
				</div>

				<hr />
				<div id="sync-messages-log">

				</div>
            </div>
        </div>
    </body>
</html>
