<div ng-controller="ListUserScripts">
	<div class="container">
		<div ng-bind="currentMemoryUsage"></div>
		<button class="col-xs-push-10 col-xs-2" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
	</div>
	<hr />
	<h3 ng-if="userscript_count > 0">Userscripts (<span ng-bind="userscript_count"></span>) :</h3>
	<h3 ng-if="userscript_count == 0"><span ng-bind="lang.no_userscript_there"></span></h3>
	<div class="panel-group" ui-state="ListScriptAccordion" ui-default="0">		

		<div class="panel panel-default" ng-repeat="userscript in all_userscripts track by $index">

			<!--Panel Kopf-->
			<div class="panel-heading" ui-set="{'ListScriptAccordion': $index}">        
				<h4 class="panel-title">
					<img ng-show="userscript.settings.icon_data" src="{{userscript.settings.icon_data}}" /> 
					Index: {{$index}} | {{userscript.settings.name}} | {{userscript.settings.author}} | {{userscript.settings.version}}
				</h4>
			</div>

			<!--Panel Inhalt-->
			<!--<div ui-if="ListScriptAccordion == {{$index}}">-->
			<div class="panel-body">
				<div class="row">
					<button class="btn btn-info col-xs-3 col-xs-push-9" ng-click="export(userscript.id)">export</button>
				</div>
				<label>usi-id: </label>{{userscript.id}}<br />
				<label>Name: </label>{{userscript.settings.name}}<br />
				<label>Author: </label>{{userscript.settings.author}}<br />
				<label>Version: </label>{{userscript.settings.version}}<br />
				<label ng-bind="lang.description"></label>: {{userscript.settings.description}}<br />

				<!--Userscript aktivieren oder deaktivieren-->
				<label>
					<span ng-show="userscript.deactivated" ng-bind="lang.deactivated"></span>
					<span ng-show="!userscript.deactivated" ng-bind="lang.activated"></span>
				</label>
				<ui-switch ng-model="userscript.deactivated" ng-change="toggleActivation(userscript)"></ui-switch>

				<div class="row"><br /></div>
				<div>
					<!--Require Skripte-->
					<div ng-show="userscript.require_scripts">
						<label>Require Scripts: </label>
						<ol>
							<li ng-repeat="require_script in userscript.require_scripts" ng-bind="require_script.url"></li>
						</ol>
					</div>
					<!--gültige Include Regeln-->
					<label>Includes: </label>
					<ol>
						<li ng-repeat="oneinclude in userscript.settings.include" ng-bind="oneinclude"></li>
					</ol>
					<label>Test Includes URL:</label>
					<input type="url" size="45" class="col-xs-offset-1 col-xs-10" ng-model="userscript.testurl" placeholder="http://www.example.com/" ng-change="testUrlMatch(userscript)"/>
					<i ng-init="userscript.testurlstate = false" id="testurlstate-{{userscript.id}}" class="fa fa-close"></i>
				</div>
				<div class="row"><br /></div>
				<div class="row"><br /></div>
				<!--Buttons-->
				<div class="row">
					<button class="btn btn-default col-xs-3 col-xs-push-1" ng-click="showUserscriptContent = !showUserscriptContent;highlightCode($index)">
						<span ng-show="showUserscriptContent" ng-bind="lang.hide"></span>
						<span ng-show="!showUserscriptContent" ng-bind="lang.show"></span>
					</button>
					<button class="btn btn-info col-xs-3 col-xs-push-2" ng-click="edit(userscript)" ng-bind="lang.change"></button>
					<button class="btn btn-danger col-xs-3 col-xs-push-3" ng-click="delete(userscript)" ng-bind="lang.delete_x"></button>
				</div>
				<div class="row"><br /></div>
				<div class="row"><br /></div>
				<label class="col-xs-3" ng-show="userscript.moreinformations.getFromUrl" ng-bind="lang.reload_from_source">Neuladen von der Quelle</label>
				<button class="btn btn-info col-xs-3 col-xs-push-6"
						 ng-show="userscript.moreinformations.getFromUrl"
						ng-click="loadAgain(userscript.moreinformations.url)">
					<i class="fa fa-repeat"></i>
				</button>
				<!--Greasemonkey Variablen-->
				<div class="row"><br /></div>
				<label class="col-xs-3" ng-bind="lang.show_GMValues">Zeige die gespeicherten GM Variablen</label>
				<button class="btn btn-info col-xs-3"
						ng-click="getGMValues(userscript.id)">
					<i class="fa fa-list"></i>
				</button>
				<div ng-show="GMValues[userscript.id]">
					<div class="row"><br /></div>
					{{GMValues[userscript.id]}}
				</div>
				<!--Userscript Inhalt-->
				<div class="row"><br /></div>
				<div ng-show="showUserscriptContent">
					<hr />
					<label>Userscript Content: </label>
					<select ng-show="options_activate_highlightjs" ng-change="selectHighlightJSStyle($index)" id="selectHighlightJSStyle-{{$index}}" ng-model="highlightjs_tmp">
						<option ng-repeat="style in hightlightjsstyles">{{style}}</option>
					</select>
					<pre class="border-black jscode hljs" id="formatted-userscript-{{$index}}" >{{userscript.userscript}}</pre>
				</div>
			</div>
		</div>
	</div>
</div>