<div class="container" ng-controller="LoadExternalUserScript">
	<form name="formloadexternalurl">

		<div class="has-error" ng-bind="error"></div>

		<br />
		<label ng-bind="lang.load_userscript_by_url_label" >
			Neues Userscript laden (URL):
		</label>
		<input class="form-control" type="text"
			   name="script_url"
			   placeholder="http://webseite.de/userscript.user.js"
			   ng-model="url" size="60" />
		<br /><br /><br />
		<div class="row">
			<button class="btn btn-primary col-xs-push-1 col-xs-7" ng-click="loadExternal()" >
				<span ng-bind="lang.userscript_after_load"  class="text-capitalize">Userscript nachladen</span>
			</button>
			<button class="btn btn-default col-xs-push-2 col-xs-pull-1 col-xs-2" ng-click="url = ''" >
				<label ng-bind="lang.reset" class="text-capitalize">reset</label>
			</button>
		</div>
		<br /><br /><br />
		<label ng-bind="lang.direct_userscript_upload">Userscript direkt hochladen</label>
		<i class="fa fa-upload" aria-hidden="true"></i>
		<input type="file" accept="text/*" id="direct-userscript-upload" />
		<br />
		<button class="btn btn-primary col-xs-push-1 col-xs-10 text-capitalize" ng-click="loadLocalFile()" ng-bind="lang.start">Start</button>
		<br /><br /><br />
		<label ng-bind="lang.alternative_charset_description">Wenn du Probleme mit der Kodierung der Dateien haben solltest, kannst du hier eine andere Kodierung festlegen</label>
		<br />
		<label ng-bind="lang.alternative_charset">Alternatives Charset</label>
		<select id="alternativeCharsets" ng-model="alternativeCharset">
			<option value="" ng-bind="lang.alternativeCharset_default" >default</option>
			<option value="utf-8">utf-8</option>
			<option value="cp1252">cp1252</option>
		</select>
		<button ng-click="addCustomCharset()"><i class="fa fa-plus-circle"></i></button>
	</form>
</div>
