<div ng-controller="EditUserScript">
		
	<h3 data-l10n-id="add_new_userscript" ng-show="state == 0" >Füge ein neues Userscript hinzu!</h3>
	<h3 data-l10n-id="edit_userscript" ng-show="state == 'edit'" >Editiere das Userscript mit der ID : {{script_id}}</h3>


	<!--Userscript Eingabe-->
	<textarea ng-model="textarea" style="white-space: pre; height: 80%;" class="col-xs-12" id="script-textarea" rows="30"  cols="64" placeholder="User Script eintragen"></textarea>

	<!--Userscript Beispiel-->
<div id="userscript-example" style="display: none;">// ==UserScript==
// @name           {Userscript Name}
// @namespace      {deine Webseite?!}
// @author         {Dein Name}
// @description    {Userscript Beschreibung}
// @include        *
//		Wenn dein Userscript auf allen Seiten ausgeführt werden soll: *
//		Bei einem Include, kannst du auch mehrere * als Wildcard nutzen
//		um es als regulären Ausdruck zu verwenden,
//		allerdings muss dann der gesamte Ausdruck passen!
//		zum Beispiel: *.beliebige-webseite.de* 
//		Ansonsten muss es so aussehen: www.beliebige-webseite.de
// @info           {weitere Informationen ...}
// @grant          {erbitte Zugriff auf extra Funktionen}
// @updateURL      {wenn die Versionsnummer verschieden ist, 
//		USI dein Userscript aktualisieren}
// @run-at         (document-end || document-start || document-ready)
// @include-jquery (true || false)
// @use-greasemonkey (true || false)
// @version        1.0.0
// ==/UserScript==

// ACHTUNG: bitte beachte, dass ein neues Userscript sofort eingefügt wird.
// Dies ist nur ein Beispiel damit du siehst, dass USI funktioniert

document.addEventListener("click", function(){
alert("Du hast soeben geklickt!");
});</div>
	<br />
	<!--Userscript speichern-->
	<button class="btn btn-primary btn-block" 
			ng-click="save()" 
			data-l10n-id="save_userscript">Userscript speichern</button>
	<hr />
	<!--Standard laden oder leeren-->
	<div class="col-sm-4">
	<button class="btn btn-default" 
			ng-click="textarea = userscript_example" >
		Userscript <span data-l10n-id="load_example">Beispiel laden</span>
	</button>
	<button class="btn btn-warning"
			ng-click="textarea = null"
			data-l10n-id="clear_textarea" >Textfeld leeren</button>
	</div>
	
	<!--Textarea Zoom einstellen-->
	<div class="col-sm-6">
		<label>Zoom:</label>
		<button class="btn btn-default" ng-click="defaulltSize()" >Standard Zoom</button>
		<input type="range" ng-change="changeSize()" 
			   ng-model="textarea_size" style="width: 300px" min="10" max="26" step="0.5" value="14" />
	</div>
	<hr />
</div>