<div ng-controller="ListUserScripts">
	<div ng-bind="currentMemoryUsage"></div>
	<hr />
	<h3 ng-if="userscript_count > 0">Userscripts (<span ng-bind="userscript_count"></span>) :</h3>
	<h3 ng-if="userscript_count == 0">Du hast bisher noch kein Userscript hinzugefügt</h3>
	<div class="panel-group" ui-state="ListScriptAccordion" ui-default="0">		

		<div class="panel panel-default" ng-repeat="userscript in all_userscripts track by $index">

			<!--Panel Kopf-->
			<div class="panel-heading" ui-set="{'ListScriptAccordion': $index}">        
				<h4 class="panel-title">
					Index: {{$index}} | {{userscript.settings.name}} | {{userscript.settings.author}} | {{userscript.settings.version}}
				</h4>
			</div>
 
			<!--Panel Inhalt-->
			<div>
			<!--<div ui-if="ListScriptAccordion == {{$index}}">-->
				<div class="panel-body">
					
					<label>usi-id: </label>{{userscript.id}}<br />
					<label>Name: </label>{{userscript.settings.name}}<br />
					<label>Author: </label>{{userscript.settings.author}}<br />
					<label>Version: </label>{{userscript.settings.version}}<br />
					<label data-l10n-id="description" >Beschreibung</label>: {{userscript.settings.description}}<br />

					<!--Userscript aktivieren oder deaktivieren-->
					<label>
						<span ng-show="userscript.deactivated">Deaktiviert:</span>
						<span ng-show="!userscript.deactivated">Aktiviert:</span>
					</label>
					<ui-switch ng-model="userscript.deactivated" ng-change="toggleActivation(userscript)"></ui-switch>

					<div>
						<label>Includes: </label><ol ng-bind="userscript.settings.include"></ol>
					</div>

					<!--Buttons-->
					<button class="btn btn-default" ng-click="showUserscriptContent = !showUserscriptContent" ng-bind="lang.show_hide"></button>
					<button class="btn btn-info" ng-click="edit(userscript)" ng-bind="lang.change"></button>
					<button class="btn btn-danger" ng-click="delete(userscript)" ng-bind="lang.delete_x"></button>

					<!--Userscript Inhalt-->
					<div ng-show="showUserscriptContent">
						<label>Userscript Content: </label>
						<pre class="border-black" >{{userscript.userscript}}</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>