#sidebar-menu{
	padding-top: 70px;
}
pre code {
	white-space: pre;
}
.usi-controller-container{
    padding-bottom: 50px;
}

.grey {
    color: grey;
}

.hljs{
    display: inline-block;
	width: 100%;
}

label{
    margin-right: 10px;
}

.usi-list-entry-view-userscript---output > pre{
    padding: 0;
}

#usi-list-userscript-expandOrCompress,
#usi-list-userscript-entries .panel-heading{
	cursor: pointer;
}

#usi-edit-script-textarea-size{
    width: 280px;
}

.fade-in-animation{
	opacity: 1;
	transition: opacity 1s;
}
.not-visible{
	opacity: 0;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
}

textarea {
    white-space: pre;
    height: 80%;
}