<!DOCTYPE html>
<html>
	<head>
		<title ng-bind="lang.usi_options">usi Optionen</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</head>
	<body ng-app="usiOptions" ng-controller="Overlay">

		<!-- Sidebar -->
		<div class="sidebar sidebar-left">
			<div class="scrollable">
				<h1 class="scrollable-header app-name">USI - ({{version}})</h1>  
				<div class="scrollable-content">
					<div class="list-group" ui-turn-off='uiSidebarLeft'>
						<a class="list-group-item" ng-click="tab = 'overview'" ng-bind="lang.overview">
							<!--Überblick-->
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
						<a class="list-group-item" ng-click="tab = 'allScripts'" ng-bind="lang.all_userscripts">
							<!--Alle Userscripts-->
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
						<a class="list-group-item" ng-click="tab = 'create'" ng-bind="lang.create_new_userscript">
							<!--Neues Userscirpt erstellen-->
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
						<a class="list-group-item" ng-click="tab = 'loadExternal'" ng-bind="lang.userscript_after_load">
							<!--Userscirpt nachladen-->
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
						<a class="list-group-item" >
							<!--Trennzeichen-->
						</a>
						<a class="list-group-item" ng-click="tab = 'options';
									nav_title = 'Optionen'" ng-bind="lang.loadOptions_title">
							Optionen
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Sidebar -->

		<div class="app" ui-swipe-right="Ui.turnOn('uiSidebarLeft')" ui-swipe-left="Ui.turnOff('uiSidebarLeft')">
			<!-- Top Navbar -->
			<div class="navbar navbar-app navbar-absolute-top">
				<div class="navbar-brand navbar-brand-center" ng-bind="nav_title">
				</div>
				<div class="btn-group pull-left">
					<div class="btn sidebar-toggle" ui-toggle='uiSidebarLeft'>
						<i class="fa fa-bars" ></i>
						<span ng-bind="lang.menu" >Menü</span>
					</div>
				</div>
			</div>
			<!-- Top Navbar -->

			<!-- App body -->
			<div class='app-body'>
				<div class='app-content'>

					<div class="scrollable-content section">
						<div ng-show="tab === 'overview'">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" ng-bind="lang.overview" >Überblick</h3>
								</div>
								<div class="panel-body" ng-bind="lang.overview_description" >
									Die Optionen sind nun unterteilt in mehrere Bereiche,
									falls du deine geladenen Userscripte einsehen möchtest gehe auf den Bereich "Alle Userscripts"
								</div>
							</div>
						</div>

						<!--Alle Userscripte auflisten-->
						<div ng-show="tab === 'allScripts'">

							<!--Directive für die Auflistung der Userscripte laden-->
							<listuserscripts />
						</div>

						<!--Userscript nachladen-->
						<div ng-show="tab === 'loadExternal'">
							<loadexternaluserscript />
						</div>

						<!--Neues Userscript erstellen / bearbeiten-->
						<div ng-show="tab === 'create'">
							<edituserscript />
						</div>

						<!--Options Block-->
						<div ng-show="tab === 'options'">
							<div ng-controller="ExtraOptionsForUSI">
								<div class="container" >
									<h3 ng-bind="lang.delete_all_userscripts" >Alle Userscripts entfernen</h3>
									<button class="btn btn-danger col-xs-3" ng-click="deleteAll()"
											ng-bind="lang.revert_all" >-alles zurücksetzen-</button>
								</div>
								<hr />
								<div class="container" >
									<h3 ng-bind="lang.check_updates_for_all_userscripts" >Alle Userscripts auf Updates überprüfen</h3>
									<button ng-click="checkForUpdates()" 
											class="btn btn-primary col-xs-3" ng-bind="lang.check_now" >-jetzt prüfen-</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- App body -->
		</div><!-- ~ .app -->

		<!-- Modals and Overlays -->
		<!--<div ui-yield-to="modals"></div>-->

	</body>
</html>